.DS_Store
/.luarc.json
/.quarto
/.quarto/
**/*.quarto_ipynb
_site
_freeze
**/.Rhistory
**/.Rproj.user
**/.RData
**/.DS_Store
**/.Rhistory
.Rproj.user
**/*.log
*/*/*/*/*.log
**/.DS_Store
**/.Ulysses-Group.plist
**/.Ulysses-Settings.plist
**/*history
**/.ipynb_checkpoints
**/.jupyter
**/sbc
**/*_dep
q
**/.quarto
**/_freeze
**/site_libs
**/plist.RData
**/*_files
**/node_modules
renv